@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inter", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f3f4f6;
}

/* Force scrollbars to show */
* {
  scrollbar-width: auto !important;
  -ms-overflow-style: auto !important;
}
*::-webkit-scrollbar {
  display: block !important;
}

@layer utilities {
  .bg-gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
